<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<%= link_to '编辑文章', edit_article_path(@article) %>
<%= link_to '返回文章列表', articles_path %>